$DarkvioletColor: #7767bb;
$violetColor: #8d78dd;
$purpleColor: #CA8BFE;
$skyBlueColor: #3FD4F4;
$pinkColor: #FD99AF;
$greyColor: #717082;
$yellowColor: #FAC608;
$blackColor: #000000;
$whiteColor: #F6F6F6;
$principalFont: 'Montserrat', sans-serif;;
$secondaryFont: 'Roboto', sans-serif;